@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



:root {
    --desktop-bg: hsl(0, 100%, 74%);
    --alert-bg: hsl(249, 10%, 26%) ;
    --border-color:hsl(246, 25%, 77%)

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body {
    font-family: 'Poppins', sans-serif;

}
#count{
    text-align: center;
    position: absolute;
    left: 50%;
    color: #fff;
    font-size: 34px;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: var(--desktop-bg);
    background-image: url(bg-intro-desktop.png);
    background-size: 100%;
    display: flex;
    padding: 5em;
}

.sub{
    width: 50%;
    height: 100%;


}

.left{

    display: flex;
    color: aliceblue;


}
.left-sub{
padding: 20px;
font-size: 20px;
margin-top: 200px;
}

.left-sub h1
{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.right  {
    padding: 2rem;
}

 .right form {
    width: 100%;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 3px 0px rgba(61, 61, 61, 0.432);


}
.right .alert-box{
    width: 100%;
    color: #fff;
    padding: 1.5em ;
    border-radius: 8px;
    background-color: rgb(107, 69, 107);
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 10px 3px 3px rgba(49, 49, 49, 0.37);

}
form input{
    outline: none;
    border: 2px solid var(--border-color);
    padding: 1em;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
}
input:hover{
    border: 2px solid rgb(180, 24, 185);
    transition:0.5s;
}
form button{
    width: 100%;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    word-spacing: 4px;
    font-size: 1.5rem;
    border-bottom:4px solid hsl(154, 52%, 45%);
    border-left:4px solid hsl(154, 52%, 45%);
    transition: 0.5s;

}

form button:hover{
    opacity: 0.6;
    transition:0.5s;
}
i{
    color: red;
    font-weight: bold;
}
.p p{
    text-align: center;
    color: gray;


}